@import 'App';
@import 'InputForm';
@import 'InvalidBox';
@import 'ValidBox';

body, html {
  height: 100%;
  font-family: 'Arial';
}

@media (max-width: 900px) {
  .app-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

}